.ant-layout-content {
  background: #fff;
  .weight-entry {
    background: #fff;
    .weight-entry-form {
      padding: 10px 20px !important;
    }
    .lebel-text {
      font-weight: bold;
    }
    .ant-row {
      margin-bottom: 8px;
    }
    .load-input {
      margin-right: 3px;
    }
  }
}
