.ant-layout-content {
  background: #fff;
  .input-entry-form {
    padding: 10px 20px !important;
  }
  .label-text {
    font-weight: bold;
  }
  .ant-row {
    margin-bottom: 8px;
  }
  .load-input {
    margin-right: 3px;
  }
}
