@import url(./searchnedit.css);
.ant-layout-sider-zero-width-trigger {
  top: -52px !important;
  left: 0px !important; }

.dashboard {
  width: 95%;
  background-color: #d7dbdd;
  border-radius: 5px;
  overflow: auto;
  margin: 20px auto;
  padding: 10px 20px;
  color: #001529;
  font-size: 20px;
  font-weight: 500; }

.dashboard-content {
  width: 90%;
  background-color: #d7dbdd;
  border-radius: 5px;
  overflow: auto;
  margin: 20px auto;
  padding: 10px 20px; }

.ant-card-body {
  padding: 10px !important; }

.Chart1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  background-color: #e91e63;
  border-radius: 3px;
  padding: 5px; }

.Chart2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  background-color: #f4b400;
  border-radius: 3px;
  padding: 5px; }

.Chart3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  background-color: #31b6eb;
  border-radius: 3px;
  padding: 5px; }

.chart-label {
  padding: 10px 0; }

.container {
  background-color: #6b6666;
  margin: 0;
  padding-top: 30px;
  height: 100vh; }
  .container .login-form {
    max-width: 300px; }
    .container .login-form .login-form-button {
      width: 100%; }
    .container .login-form .form-footer {
      text-align: center; }
    .container .login-form .links {
      margin-bottom: 0 !important; }

.ant-form {
  margin: 0 auto !important;
  background-color: #fff;
  padding: 20px !important;
  border-radius: 5px; }

* {
  margin: 0;
  padding: 0; }
